body {
 background-color:#373737;
}
#svg {
 cursor:pointer;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

#svg #circle {
 transition: 100ms ease;
}

#svg:hover #circle {
 fill:#fff;
}